# 세미프로젝트 파일정리

1. 22년 분기(1~4), 서울시 자치구, 외식 업종, 매출등급 전처리 
2. 위 데이터(키)와 개폐업, 생존율, 최신영업기간 데이터 결합 및 전처리
3. 위 데이터(키,개폐업 등)와 매출 데이터 결합 및 전처리
4. 타입변경, 문자제거 전처리
5. 탐색적 데이터 분석 및 시각화 (EDA)
6. 머신러닝 적용을 위한 주요 데이터 인코딩 전처리
7. 머신러닝 모델링

# 2. 개폐업, 생존율, 최신영업기간 데이터 결합 및 전처리

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
추정매출 = pd.read_csv("./서울시 상권분석서비스(상권-추정매출2022).csv", encoding = "ansi")
추정매출_2021=pd.read_csv("서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv", encoding = "ansi")
생활인구 = pd.read_csv("./서울시 상권분석서비스(상권-생활인구2022).csv", encoding = "ansi")
직장인구 = pd.read_csv("./서울시 상권분석서비스(상권-직장인구2022).csv", encoding = "ansi")
상권영역 = pd.read_csv("./서울시 상권분석서비스(상권영역).csv", encoding = "ansi")
법정동코드 = pd.read_csv("./서울시 건축물대장 법정동 코드정보.csv", encoding = "ansi")
매출등급 = pd.read_csv("./필지단위 소상공인 매출등급 정보.csv", encoding = "ansi")
코드변환 = pd.read_csv("./A_CS 코드변환.txt")


# 전처리 후 csv 추가 파일
년도_업종_구_등급 = pd.read_csv("./년도_업종_구_등급.csv", encoding = "ansi")

In [4]:
년도_업종_구_등급 = pd.read_csv("./년도_업종_구_등급.csv", encoding = "ansi")

In [5]:
df = 년도_업종_구_등급
df

     Unnamed: 0  데이터기준년월   서비스업종코드 시군구명      매출등급  매출등급01 서비스업종
0             0   202203  CS100001  강남구  3.607718       1    한식
1             1   202203  CS100001  강동구  2.775424       0    한식
2             2   202203  CS100001  강북구  2.540466       0    한식
3             3   202203  CS100001  강서구  3.015158       1    한식
4             4   202203  CS100001  관악구  2.721897       0    한식
..          ...      ...       ...  ...       ...     ...   ...
995         995   202212  CS100010  용산구  3.025641       1    커피
996         996   202212  CS100010  은평구  2.659218       0    커피
997         997   202212  CS100010  종로구  3.205776       1    커피
998         998   202212  CS100010   중구  3.551020       1    커피
999         999   202212  CS100010  중랑구  2.590062       0    커피

[1000 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   데이터기준년월     1000 non-null   int64
 2   서비스업종코드     1000 non-null   object
 3   시군구명        1000 non-null   object
 4   매출등급        1000 non-null   float64
 5   매출등급01      1000 non-null   int64
 6   서비스업종       1000 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [7]:
df=df.astype(str)

In [8]:
df.loc[df['데이터기준년월']=='202203', '분기']=1
df.loc[df['데이터기준년월']=='202206', '분기']=2
df.loc[df['데이터기준년월']=='202209', '분기']=3
df.loc[df['데이터기준년월']=='202212', '분기']=4

In [9]:
df

    Unnamed: 0 데이터기준년월   서비스업종코드 시군구명                매출등급 매출등급01 서비스업종   분기
0            0  202203  CS100001  강남구   3.607717934480844      1    한식  1.0
1            1  202203  CS100001  강동구  2.7754237288135597      0    한식  1.0
2            2  202203  CS100001  강북구   2.540466392318244      0    한식  1.0
3            3  202203  CS100001  강서구  3.0151582701738744      1    한식  1.0
4            4  202203  CS100001  관악구   2.721896643580181      0    한식  1.0
..         ...     ...       ...  ...                 ...    ...   ...  ...
995        995  202212  CS100010  용산구   3.025641025641025      1    커피  4.0
996        996  202212  CS100010  은평구   2.659217877094972      0    커피  4.0
997        997  202212  CS100010  종로구  3.2057761732851984      1    커피  4.0
998        998  202212  CS100010   중구  3.5510204081632653      1    커피  4.0
999        999  202212  CS100010  중랑구   2.590062111801242      0    커피  4.0

[1000 rows x 8 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   object
 1   데이터기준년월     1000 non-null   object
 2   서비스업종코드     1000 non-null   object
 3   시군구명        1000 non-null   object
 4   매출등급        1000 non-null   object
 5   매출등급01      1000 non-null   object
 6   서비스업종       1000 non-null   object
 7   분기          1000 non-null   float64
dtypes: float64(1), object(7)
memory usage: 62.6+ KB

In [11]:
df.columns

Index(['Unnamed: 0', '데이터기준년월', '서비스업종코드', '시군구명', '매출등급', '매출등급01', '서비스업종',
       '분기'],
      dtype='object')

In [12]:
df=df[['분기','시군구명','서비스업종코드','서비스업종','매출등급','매출등급01']]
df

      분기 시군구명   서비스업종코드 서비스업종                매출등급 매출등급01
0    1.0  강남구  CS100001    한식   3.607717934480844      1
1    1.0  강동구  CS100001    한식  2.7754237288135597      0
2    1.0  강북구  CS100001    한식   2.540466392318244      0
3    1.0  강서구  CS100001    한식  3.0151582701738744      1
4    1.0  관악구  CS100001    한식   2.721896643580181      0
..   ...  ...       ...   ...                 ...    ...
995  4.0  용산구  CS100010    커피   3.025641025641025      1
996  4.0  은평구  CS100010    커피   2.659217877094972      0
997  4.0  종로구  CS100010    커피  3.2057761732851984      1
998  4.0   중구  CS100010    커피  3.5510204081632653      1
999  4.0  중랑구  CS100010    커피   2.590062111801242      0

[1000 rows x 6 columns]

In [13]:
df['분기']=df['분기'].astype(np.int64)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   분기       1000 non-null   int64
 1   시군구명     1000 non-null   object
 2   서비스업종코드  1000 non-null   object
 3   서비스업종    1000 non-null   object
 4   매출등급     1000 non-null   object
 5   매출등급01   1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [15]:
df

     분기 시군구명   서비스업종코드 서비스업종                매출등급 매출등급01
0     1  강남구  CS100001    한식   3.607717934480844      1
1     1  강동구  CS100001    한식  2.7754237288135597      0
2     1  강북구  CS100001    한식   2.540466392318244      0
3     1  강서구  CS100001    한식  3.0151582701738744      1
4     1  관악구  CS100001    한식   2.721896643580181      0
..   ..  ...       ...   ...                 ...    ...
995   4  용산구  CS100010    커피   3.025641025641025      1
996   4  은평구  CS100010    커피   2.659217877094972      0
997   4  종로구  CS100010    커피  3.2057761732851984      1
998   4   중구  CS100010    커피  3.5510204081632653      1
999   4  중랑구  CS100010    커피   2.590062111801242      0

[1000 rows x 6 columns]

# 개폐업률, 신생기업생존률, 연차별 기업 생존률, 평균영업기간 칼럼 추가

In [16]:
개폐업률정리 = pd.read_csv("./개폐업률정리.csv", encoding = "ansi")
신생생존률정리 = pd.read_csv("./신생생존률정리.csv", encoding = "ansi")
연차별생존률정리 = pd.read_csv("./연차별생존률정리.csv", encoding = "ansi")
평균영업기간정리 = pd.read_csv("./평균영업기간정리.csv", encoding = "ansi")

# 개폐업률 추가

In [17]:
개폐업률정리

     분기 시군구명 서비스업종  개업수  폐업수  개업률  폐업률
0     1  종로구    한식   42   55  1.4  1.9
1     1   중구    한식   37   58  1.3  2.1
2     1  용산구    한식   50   28  2.7  1.5
3     1  성동구    한식   39   56  2.0  2.9
4     1  광진구    한식   50   52  2.2  2.3
..   ..  ...   ...  ...  ...  ...  ...
995   4  관악구    커피   51   28  6.4  3.5
996   4  서초구    커피   77   49  5.8  3.7
997   4  강남구    커피  128   65  5.2  2.6
998   4  송파구    커피   87   50  6.2  3.5
999   4  강동구    커피   40   47  5.1  6.0

[1000 rows x 7 columns]

In [18]:
개폐업률정리.columns

Index(['분기', '시군구명', '서비스업종', '개업수', '폐업수', '개업률', '폐업률'], dtype='object')

In [32]:
개폐업률정리.groupby(['분기','시군구명','서비스업종'])[['개업수', '폐업수', '개업률', '폐업률']].sum().reset_index()

     분기 시군구명   서비스업종  개업수  폐업수  개업률  폐업률
0     1  강남구  기타 외국식   39   37  2.7  2.6
1     1  강남구      분식   59   49  4.9  4.1
2     1  강남구      일식   27   27  2.9  2.9
3     1  강남구    제과제빵   14    8  2.7  1.5
4     1  강남구      주점    6   26  0.9  3.8
..   ..  ...     ...  ...  ...  ...  ...
995   4  중랑구      중식    8    2  7.0  1.7
996   4  중랑구      치킨    8   18  3.5  8.0
997   4  중랑구      커피   42   23  8.2  4.5
998   4  중랑구   패스트푸드    7    7  4.3  4.3
999   4  중랑구      한식   61   95  2.8  4.4

[1000 rows x 7 columns]

In [20]:
a = pd.merge(left = df, right = 개폐업률정리, how = "left")
a

     분기 시군구명   서비스업종코드 서비스업종                매출등급 매출등급01  개업수  폐업수  개업률  폐업률
0     1  강남구  CS100001    한식   3.607717934480844      1  116  145  2.2  2.7
1     1  강동구  CS100001    한식  2.7754237288135597      0   53   54  2.3  2.3
2     1  강북구  CS100001    한식   2.540466392318244      0   39   47  1.9  2.3
3     1  강서구  CS100001    한식  3.0151582701738744      1   96  103  3.1  3.3
4     1  관악구  CS100001    한식   2.721896643580181      0   53   79  2.0  3.0
..   ..  ...       ...   ...                 ...    ...  ...  ...  ...  ...
995   4  용산구  CS100010    커피   3.025641025641025      1   47   27  5.4  3.1
996   4  은평구  CS100010    커피   2.659217877094972      0   40   25  6.0  3.7
997   4  종로구  CS100010    커피  3.2057761732851984      1   66   34  5.2  2.7
998   4   중구  CS100010    커피  3.5510204081632653      1   41   41  3.7  3.7
999   4  중랑구  CS100010    커피   2.590062111801242      0   42   23  8.2  4.5

[1000 rows x 10 columns]

In [21]:
a.columns

Index(['분기', '시군구명', '서비스업종코드', '서비스업종', '매출등급', '매출등급01', '개업수', '폐업수', '개업률',
       '폐업률'],
      dtype='object')

In [22]:
a.groupby(['분기', '시군구명', '서비스업종코드', '서비스업종', '매출등급', '매출등급01'])[['개업수', '폐업수', '개업률', '폐업률']].sum()

                                                   개업수  폐업수  개업률  폐업률
분기 시군구명 서비스업종코드  서비스업종  매출등급               매출등급01
1  강남구  CS100001 한식     3.607717934480844  1       116  145  2.2  2.7
        CS100002 중식     3.882005899705015  1        14    8  3.0  1.7
        CS100003 일식     3.6133540372670807 1        27   27  2.9  2.9
        CS100004 기타 외국식 3.519205298013245  1        39   37  2.7  2.6
        CS100005 제과제빵   3.420289855072464  1        14    8  2.7  1.5
...                                                ...  ...  ...  ...
4  중랑구  CS100006 패스트푸드  2.582608695652174  0         7    7  4.3  4.3
        CS100007 치킨     2.6308724832214767 0         8   18  3.5  8.0
        CS100008 분식     2.5036915504511894 0        21   18  5.1  4.4
        CS100009 주점     2.630434782608696  0        14   16  4.0  4.5
        CS100010 커피     2.590062111801242  0        42   23  8.2  4.5

[1000 rows x 4 columns]

# 신생기업 생존률 추가

In [23]:
신생생존률정리

     분기 시군구명 서비스업종  1년생존률  3년생존률  5년생존률
0     1  종로구    한식   85.7   61.1   45.3
1     1   중구    한식   87.3   60.2   39.1
2     1  용산구    한식   83.2   58.8   38.5
3     1  성동구    한식   76.9   51.7   39.5
4     1  광진구    한식   73.1   55.3   38.8
..   ..  ...   ...    ...    ...    ...
995   4  관악구    커피   79.0   57.5   32.2
996   4  서초구    커피   75.9   48.8   38.3
997   4  강남구    커피   79.6   49.8   30.7
998   4  송파구    커피   75.7   52.1   35.2
999   4  강동구    커피   80.1   54.4   33.8

[1000 rows x 6 columns]

In [24]:
신생생존률정리.columns

Index(['분기', '시군구명', '서비스업종', '1년생존률', '3년생존률', '5년생존률'], dtype='object')

In [25]:
신생생존률정리.columns=['분기', '시군구명', '서비스업종', '1년생존률(신)', '3년생존률(신)', '5년생존률(신)']
신생생존률정리

     분기 시군구명 서비스업종  1년생존률(신)  3년생존률(신)  5년생존률(신)
0     1  종로구    한식      85.7      61.1      45.3
1     1   중구    한식      87.3      60.2      39.1
2     1  용산구    한식      83.2      58.8      38.5
3     1  성동구    한식      76.9      51.7      39.5
4     1  광진구    한식      73.1      55.3      38.8
..   ..  ...   ...       ...       ...       ...
995   4  관악구    커피      79.0      57.5      32.2
996   4  서초구    커피      75.9      48.8      38.3
997   4  강남구    커피      79.6      49.8      30.7
998   4  송파구    커피      75.7      52.1      35.2
999   4  강동구    커피      80.1      54.4      33.8

[1000 rows x 6 columns]

In [26]:
b = pd.merge(left = a, right = 신생생존률정리, how = "left")
b

,분기,시군구명,서비스업종코드,서비스업종,매출등급,매출등급01,개업수,폐업수,개업률,폐업률,1년생존률(신),3년생존률(신),5년생존률(신)
0,1,강남구,CS100001,한식,3.607717934480844,1,116,145,2.2,2.7,77.3,50.1,34.3
1,1,강동구,CS100001,한식,2.7754237288135597,0,53,54,2.3,2.3,75.1,52.9,32.2
2,1,강북구,CS100001,한식,2.540466392318244,0,39,47,1.9,2.3,74.3,49.2,32.3
3,1,강서구,CS100001,한식,3.0151582701738744,1,96,103,3.1,3.3,74.7,49.7,32.6
4,1,관악구,CS100001,한식,2.721896643580181,0,53,79,2.0,3.0,72.0,53.6,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,용산구,CS100010,커피,3.025641025641025,1,47,27,5.4,3.1,79.6,56.5,40.4
996,4,은평구,CS100010,커피,2.659217877094972,0,40,25,6.0,3.7,77.4,51.8,28.7
997,4,종로구,CS100010,커피,3.2057761732851984,1,66,34,5.2,2.7,80.2,54.9,35.6
998,4,중구,CS100010,커피,3.5510204081632653,1,41,41,3.7,3.7,82.8,50.2,38.3
999,4,중랑구,CS100010,커피,2.590062111801242,0,42,23,8.2,4.5,79.5,49.6,33.0

In [27]:
신생생존률정리

     분기 시군구명 서비스업종  1년생존률(신)  3년생존률(신)  5년생존률(신)
0     1  종로구    한식      85.7      61.1      45.3
1     1   중구    한식      87.3      60.2      39.1
2     1  용산구    한식      83.2      58.8      38.5
3     1  성동구    한식      76.9      51.7      39.5
4     1  광진구    한식      73.1      55.3      38.8
..   ..  ...   ...       ...       ...       ...
995   4  관악구    커피      79.0      57.5      32.2
996   4  서초구    커피      75.9      48.8      38.3
997   4  강남구    커피      79.6      49.8      30.7
998   4  송파구    커피      75.7      52.1      35.2
999   4  강동구    커피      80.1      54.4      33.8

[1000 rows x 6 columns]

# 연차별 기업 생존률 추가

In [28]:
연차별생존률정리

     분기 시군구명 서비스업종  1년생존률  3년생존률  5년생존률
0     1  종로구    한식   75.1   49.0   41.1
1     1   중구    한식   72.8   51.5   38.5
2     1  용산구    한식   78.0   55.2   42.1
3     1  성동구    한식   78.7   53.3   38.3
4     1  광진구    한식   71.2   50.9   36.3
..   ..  ...   ...    ...    ...    ...
995   4  관악구    커피   70.1   42.9   29.4
996   4  서초구    커피   73.3   49.0   37.9
997   4  강남구    커피   70.1   40.5   30.3
998   4  송파구    커피   73.4   47.5   34.2
999   4  강동구    커피   76.7   43.6   33.1

[1000 rows x 6 columns]

In [29]:
c = pd.merge(left = b, right = 연차별생존률정리, how = "left")
c

,분기,시군구명,서비스업종코드,서비스업종,매출등급,매출등급01,개업수,폐업수,개업률,폐업률,1년생존률(신),3년생존률(신),5년생존률(신),1년생존률,3년생존률,5년생존률
0,1,강남구,CS100001,한식,3.607717934480844,1,116,145,2.2,2.7,77.3,50.1,34.3,71.8,46.9,35.2
1,1,강동구,CS100001,한식,2.7754237288135597,0,53,54,2.3,2.3,75.1,52.9,32.2,73.9,46.9,37.6
2,1,강북구,CS100001,한식,2.540466392318244,0,39,47,1.9,2.3,74.3,49.2,32.3,70.3,45.3,36.5
3,1,강서구,CS100001,한식,3.0151582701738744,1,96,103,3.1,3.3,74.7,49.7,32.6,72.0,45.5,33.6
4,1,관악구,CS100001,한식,2.721896643580181,0,53,79,2.0,3.0,72.0,53.6,31.4,66.7,44.3,32.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,용산구,CS100010,커피,3.025641025641025,1,47,27,5.4,3.1,79.6,56.5,40.4,76.3,53.0,39.4
996,4,은평구,CS100010,커피,2.659217877094972,0,40,25,6.0,3.7,77.4,51.8,28.7,73.6,43.4,27.1
997,4,종로구,CS100010,커피,3.2057761732851984,1,66,34,5.2,2.7,80.2,54.9,35.6,68.3,45.7,35.6
998,4,중구,CS100010,커피,3.5510204081632653,1,41,41,3.7,3.7,82.8,50.2,38.3,75.2,51.0,37.9
999,4,중랑구,CS100010,커피,2.590062111801242,0,42,23,8.2,4.5,79.5,49.6,33.0,75.8,47.3,31.9

# 최근 영업기간 추가

In [30]:
평균영업기간정리

     분기 시군구명 서비스업종 최근10년영업기간 최근30년영업기간
0     1  종로구    한식      3.1년      5.6년
1     1   중구    한식      3.1년      5.8년
2     1  용산구    한식      3.1년      5.2년
3     1  성동구    한식      2.9년      4.9년
4     1  광진구    한식      2.8년      4.7년
..   ..  ...   ...       ...       ...
995   4  관악구    커피      2.5년      3.3년
996   4  서초구    커피      2.8년      3.7년
997   4  강남구    커피      2.7년      3.7년
998   4  송파구    커피      2.6년      3.3년
999   4  강동구    커피      2.6년      3.3년

[1000 rows x 5 columns]

In [29]:
d = pd.merge(left = c, right = 평균영업기간정리, how = "left")
d

,분기,시군구명,서비스업종코드,서비스업종,매출등급,매출등급01,개업수,폐업수,개업률,폐업률,1년생존률(신),3년생존률(신),5년생존률(신),1년생존률,3년생존률,5년생존률,최근10년영업기간,최근30년영업기간
0,1,강남구,CS100001,한식,3.607717934480844,1,116,145,2.2,2.7,77.3,50.1,34.3,71.8,46.9,35.2,2.7년,4.6년
1,1,강동구,CS100001,한식,2.7754237288135597,0,53,54,2.3,2.3,75.1,52.9,32.2,73.9,46.9,37.6,2.6년,4.4년
2,1,강북구,CS100001,한식,2.540466392318244,0,39,47,1.9,2.3,74.3,49.2,32.3,70.3,45.3,36.5,2.6년,4.5년
3,1,강서구,CS100001,한식,3.0151582701738744,1,96,103,3.1,3.3,74.7,49.7,32.6,72.0,45.5,33.6,2.5년,4.3년
4,1,관악구,CS100001,한식,2.721896643580181,0,53,79,2.0,3.0,72.0,53.6,31.4,66.7,44.3,32.4,2.6년,4.5년
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,용산구,CS100010,커피,3.025641025641025,1,47,27,5.4,3.1,79.6,56.5,40.4,76.3,53.0,39.4,2.8년,3.6년
996,4,은평구,CS100010,커피,2.659217877094972,0,40,25,6.0,3.7,77.4,51.8,28.7,73.6,43.4,27.1,2.5년,3.2년
997,4,종로구,CS100010,커피,3.2057761732851984,1,66,34,5.2,2.7,80.2,54.9,35.6,68.3,45.7,35.6,3년,4.2년
998,4,중구,CS100010,커피,3.5510204081632653,1,41,41,3.7,3.7,82.8,50.2,38.3,75.2,51.0,37.9,2.8년,4.2년
999,4,중랑구,CS100010,커피,2.590062111801242,0,42,23,8.2,4.5,79.5,49.6,33.0,75.8,47.3,31.9,2.5년,3.1년

# 데이터프레임 정리

In [30]:
d.loc[d['분기']==1,'데이터기준년월']=202203
d.loc[d['분기']==2,'데이터기준년월']=202206
d.loc[d['분기']==3,'데이터기준년월']=202209
d.loc[d['분기']==4,'데이터기준년월']=202212

In [31]:
d.columns

Index(['분기', '시군구명', '서비스업종코드', '서비스업종', '매출등급', '매출등급01', '개업수', '폐업수', '개업률',
       '폐업률', '1년생존률(신)', '3년생존률(신)', '5년생존률(신)', '1년생존률', '3년생존률', '5년생존률',
       '최근10년영업기간', '최근30년영업기간', '데이터기준년월'],
      dtype='object')

In [32]:
df=d[['데이터기준년월','시군구명', '서비스업종코드', '서비스업종', '매출등급', '매출등급01', '개업수', '폐업수', '개업률', '폐업률',
       '1년생존률', '3년생존률', '5년생존률','1년생존률(신)', '3년생존률(신)', '5년생존률(신)' ,'최근10년영업기간', '최근30년영업기간']]

In [33]:
df

,데이터기준년월,시군구명,서비스업종코드,서비스업종,매출등급,매출등급01,개업수,폐업수,개업률,폐업률,1년생존률,3년생존률,5년생존률,1년생존률(신),3년생존률(신),5년생존률(신),최근10년영업기간,최근30년영업기간
0,202203.0,강남구,CS100001,한식,3.607717934480844,1,116,145,2.2,2.7,71.8,46.9,35.2,77.3,50.1,34.3,2.7년,4.6년
1,202203.0,강동구,CS100001,한식,2.7754237288135597,0,53,54,2.3,2.3,73.9,46.9,37.6,75.1,52.9,32.2,2.6년,4.4년
2,202203.0,강북구,CS100001,한식,2.540466392318244,0,39,47,1.9,2.3,70.3,45.3,36.5,74.3,49.2,32.3,2.6년,4.5년
3,202203.0,강서구,CS100001,한식,3.0151582701738744,1,96,103,3.1,3.3,72.0,45.5,33.6,74.7,49.7,32.6,2.5년,4.3년
4,202203.0,관악구,CS100001,한식,2.721896643580181,0,53,79,2.0,3.0,66.7,44.3,32.4,72.0,53.6,31.4,2.6년,4.5년
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,202212.0,용산구,CS100010,커피,3.025641025641025,1,47,27,5.4,3.1,76.3,53.0,39.4,79.6,56.5,40.4,2.8년,3.6년
996,202212.0,은평구,CS100010,커피,2.659217877094972,0,40,25,6.0,3.7,73.6,43.4,27.1,77.4,51.8,28.7,2.5년,3.2년
997,202212.0,종로구,CS100010,커피,3.2057761732851984,1,66,34,5.2,2.7,68.3,45.7,35.6,80.2,54.9,35.6,3년,4.2년
998,202212.0,중구,CS100010,커피,3.5510204081632653,1,41,41,3.7,3.7,75.2,51.0,37.9,82.8,50.2,38.3,2.8년,4.2년
999,202212.0,중랑구,CS100010,커피,2.590062111801242,0,42,23,8.2,4.5,75.8,47.3,31.9,79.5,49.6,33.0,2.5년,3.1년

In [34]:
df['데이터기준년월']=df['데이터기준년월'].astype(np.int64)

In [35]:
df

,데이터기준년월,시군구명,서비스업종코드,서비스업종,매출등급,매출등급01,개업수,폐업수,개업률,폐업률,1년생존률,3년생존률,5년생존률,1년생존률(신),3년생존률(신),5년생존률(신),최근10년영업기간,최근30년영업기간
0,202203,강남구,CS100001,한식,3.607717934480844,1,116,145,2.2,2.7,71.8,46.9,35.2,77.3,50.1,34.3,2.7년,4.6년
1,202203,강동구,CS100001,한식,2.7754237288135597,0,53,54,2.3,2.3,73.9,46.9,37.6,75.1,52.9,32.2,2.6년,4.4년
2,202203,강북구,CS100001,한식,2.540466392318244,0,39,47,1.9,2.3,70.3,45.3,36.5,74.3,49.2,32.3,2.6년,4.5년
3,202203,강서구,CS100001,한식,3.0151582701738744,1,96,103,3.1,3.3,72.0,45.5,33.6,74.7,49.7,32.6,2.5년,4.3년
4,202203,관악구,CS100001,한식,2.721896643580181,0,53,79,2.0,3.0,66.7,44.3,32.4,72.0,53.6,31.4,2.6년,4.5년
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,202212,용산구,CS100010,커피,3.025641025641025,1,47,27,5.4,3.1,76.3,53.0,39.4,79.6,56.5,40.4,2.8년,3.6년
996,202212,은평구,CS100010,커피,2.659217877094972,0,40,25,6.0,3.7,73.6,43.4,27.1,77.4,51.8,28.7,2.5년,3.2년
997,202212,종로구,CS100010,커피,3.2057761732851984,1,66,34,5.2,2.7,68.3,45.7,35.6,80.2,54.9,35.6,3년,4.2년
998,202212,중구,CS100010,커피,3.5510204081632653,1,41,41,3.7,3.7,75.2,51.0,37.9,82.8,50.2,38.3,2.8년,4.2년
999,202212,중랑구,CS100010,커피,2.590062111801242,0,42,23,8.2,4.5,75.8,47.3,31.9,79.5,49.6,33.0,2.5년,3.1년

# CSV 저장 
## (등급_개폐업율, 신생기업생존률, 연차별 기업 생존률, 평균영업기간 칼럼 추가)

In [36]:
 df.to_csv("등급_개폐업율추가.csv", encoding='ansi')