# 세미프로젝트 파일정리

1. 22년 분기(1~4), 서울시 자치구, 외식 업종, 매출등급 전처리 
2. 위 데이터(키)와 개폐업, 생존율, 최신영업기간 데이터 결합 및 전처리
3. 위 데이터(키,개폐업 등)와 매출 데이터 결합 및 전처리
4. 타입변경, 문자제거 전처리
5. 탐색적 데이터 분석 및 시각화 (EDA)
6. 머신러닝 적용을 위한 주요 데이터 인코딩 전처리
7. 머신러닝 모델링

# 6. 머신러닝 적용을 위한 주요 데이터 인코딩 전처리

In [31]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [32]:
import matplotlib.pyplot as plt
from matplotlib import pyplot
from matplotlib import font_manager

f_path = "C:\Windows\Fonts\Malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()

from matplotlib import rc

rc('font', family='Malgun Gothic')

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style='white', color_codes=True)
sns.set_style('whitegrid', {'font.family':'Malgun Gothic'})
import matplotlib.ticker as mticker

In [33]:
추정매출 = pd.read_csv("./서울시 상권분석서비스(상권-추정매출2022).csv", dtype = {'분기당_매출_금액' : 'int64'},  encoding = "ansi")
생활인구 = pd.read_csv("./서울시 상권분석서비스(상권-생활인구2022).csv", encoding = "ansi")
직장인구 = pd.read_csv("./서울시 상권분석서비스(상권-직장인구2022).csv", encoding = "ansi")
상권영역 = pd.read_csv("./서울시 상권분석서비스(상권영역).csv", encoding = "ansi")
법정동코드 = pd.read_csv("./서울시 건축물대장 법정동 코드정보.csv", encoding = "ansi")
매출등급 = pd.read_csv("./필지단위 소상공인 매출등급 정보.csv", encoding = "ansi")
코드변환 = pd.read_csv("./A_CS 코드변환.txt")
분기_업종_구_등급 = pd.read_csv("./년도_업종_구_등급.csv", encoding = "ansi")
등급_개폐업율추가 = pd.read_csv("등급_개폐업율추가.csv", encoding = "ansi")
등급_개폐업_매출추가 = pd.read_csv("기본df_매출df_합.csv", encoding = "ansi")

# 전처리 후 csv 추가 파일
전처리_타입변경_문자제거 = pd.read_csv(".전처리_타입변경_문자제거.csv", encoding = "ansi")

In [34]:
df=전처리_타입변경_문자제거
df

,Unnamed: 0,Unnamed: 0.1,데이터기준년월,시군구명,서비스_업종_코드,서비스업종,매출등급,매출등급01,개업수,폐업수,...,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구_코드,점포당_매출_금액,업종별_건당_매출_금액,건당_매출_금액
0,0,0,202203,강남구,CS100001,한식,3.607718,1,116,145,...,971.0,2520.0,1320.0,763.0,502,5.0,11680,9.851762e+07,61612.020388,61612.020388
1,1,1,202203,강남구,CS100001,한식,3.607718,1,116,145,...,22326.0,36148.0,25579.0,19526.0,13097,90.0,11680,7.882209e+07,46680.804558,46680.804558
2,2,2,202203,강남구,CS100001,한식,3.607718,1,116,145,...,2851.0,6489.0,11369.0,8908.0,2904,33.0,11680,4.408173e+07,34870.609272,34870.609272
3,3,3,202203,강남구,CS100001,한식,3.607718,1,116,145,...,25510.0,36477.0,22180.0,13662.0,6316,91.0,11680,5.280214e+07,35647.210671,35647.210671
4,4,4,202203,강남구,CS100001,한식,3.607718,1,116,145,...,92276.0,142044.0,117282.0,100271.0,67313,252.0,11680,9.441766e+07,36225.028792,36225.028792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35848,35848,35848,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,302.0,712.0,139.0,307.0,488,3.0,11260,6.372488e+06,9813.893737,9813.893737
35849,35849,35849,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,10178.0,4626.0,4976.0,4563.0,654,16.0,11260,9.036580e+06,5354.811970,5354.811970
35850,35850,35850,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,324.0,207.0,594.0,939.0,450,7.0,11260,1.938422e+06,5378.102259,5378.102259
35851,35851,35851,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,1263.0,872.0,366.0,244.0,91,11.0,11260,3.272727e+06,12627.148369,12627.148369
35852,35852,35852,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,56.0,127.0,124.0,233.0,152,1.5,11260,7.786363e+06,13756.824499,13756.824499

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35853 entries, 0 to 35852
Columns: 103 entries, Unnamed: 0 to 건당_매출_금액
dtypes: float64(61), int64(35), object(7)
memory usage: 28.2+ MB

# 매출별 구 순서(인코딩)

In [36]:
a=df.groupby('시군구명')['분기당_매출_금액'].sum().sort_values(ascending=True).to_frame().reset_index()
a

    시군구명      분기당_매출_금액
0    도봉구   309143695085
1    강북구   449559198013
2    은평구   471611673088
3    중랑구   478285557750
4    양천구   501734624892
5    성북구   507622282727
6   서대문구   549973175935
7    노원구   581902422874
8   동대문구   597375942529
9    금천구   602255465706
10   성동구   656858457024
11   동작구   683056456488
12   강서구   684196000749
13   관악구   684959676023
14   구로구   726006402537
15   광진구   753263510291
16   강동구   770061471557
17   용산구  1199298278131
18  영등포구  1542707939429
19   마포구  1621388699163
20   송파구  1673153675120
21   종로구  1931564140554
22   서초구  2190460445072
23    중구  2294136108876
24   강남구  3696138443408

In [37]:
a['시군구명']

0      도봉구
1      강북구
2      은평구
3      중랑구
4      양천구
5      성북구
6     서대문구
7      노원구
8     동대문구
9      금천구
10     성동구
11     동작구
12     강서구
13     관악구
14     구로구
15     광진구
16     강동구
17     용산구
18    영등포구
19     마포구
20     송파구
21     종로구
22     서초구
23      중구
24     강남구
Name: 시군구명, dtype: object

In [38]:
gu_mapping = {
    '도봉구': 1, '강북구': 2, '은평구': 3, '중랑구': 4, '양천구': 5, '성북구': 6, '서대문구': 7, '노원구': 8,
    '동대문구': 9, '금천구': 10, '성동구': 11, '동작구': 12, '강서구': 13, '관악구': 14, '구로구': 15,
    '광진구': 16, '강동구': 17, '용산구': 18, '영등포구': 19, '마포구': 20, '송파구': 21, '종로구': 22,
    '서초구': 23, '중구': 24, '강남구': 25
}

In [39]:
# '시군구명' 칼럼의 값을 매핑된 번호로 변경하는 함수
def map_to_number(name):
    return gu_mapping[name]

In [40]:
# '시군구명' 칼럼에 apply 함수 적용하여 번호로 변경
df['구_번호'] = df['시군구명'].apply(map_to_number)

In [41]:
df

,Unnamed: 0,Unnamed: 0.1,데이터기준년월,시군구명,서비스_업종_코드,서비스업종,매출등급,매출등급01,개업수,폐업수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구_코드,점포당_매출_금액,업종별_건당_매출_금액,건당_매출_금액,구_번호
0,0,0,202203,강남구,CS100001,한식,3.607718,1,116,145,...,2520.0,1320.0,763.0,502,5.0,11680,9.851762e+07,61612.020388,61612.020388,25
1,1,1,202203,강남구,CS100001,한식,3.607718,1,116,145,...,36148.0,25579.0,19526.0,13097,90.0,11680,7.882209e+07,46680.804558,46680.804558,25
2,2,2,202203,강남구,CS100001,한식,3.607718,1,116,145,...,6489.0,11369.0,8908.0,2904,33.0,11680,4.408173e+07,34870.609272,34870.609272,25
3,3,3,202203,강남구,CS100001,한식,3.607718,1,116,145,...,36477.0,22180.0,13662.0,6316,91.0,11680,5.280214e+07,35647.210671,35647.210671,25
4,4,4,202203,강남구,CS100001,한식,3.607718,1,116,145,...,142044.0,117282.0,100271.0,67313,252.0,11680,9.441766e+07,36225.028792,36225.028792,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35848,35848,35848,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,712.0,139.0,307.0,488,3.0,11260,6.372488e+06,9813.893737,9813.893737,4
35849,35849,35849,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,4626.0,4976.0,4563.0,654,16.0,11260,9.036580e+06,5354.811970,5354.811970,4
35850,35850,35850,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,207.0,594.0,939.0,450,7.0,11260,1.938422e+06,5378.102259,5378.102259,4
35851,35851,35851,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,872.0,366.0,244.0,91,11.0,11260,3.272727e+06,12627.148369,12627.148369,4
35852,35852,35852,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,127.0,124.0,233.0,152,1.5,11260,7.786363e+06,13756.824499,13756.824499,4

# 매출별 업종순서(인코딩)

In [42]:
b=df.groupby('서비스업종')['분기당_매출_금액'].sum().sort_values(ascending=True).to_frame().reset_index()
b

    서비스업종       분기당_매출_금액
0      치킨    507112238474
1   패스트푸드    637288539730
2      중식   1144087063164
3    제과제빵   1201593706068
4      일식   1204050443992
5  기타 외국식   1431377443628
6      분식   2054127024663
7      주점   2074762714964
8      커피   3013289014738
9      한식  12889025553600

In [43]:
b['서비스업종']

0        치킨
1     패스트푸드
2        중식
3      제과제빵
4        일식
5    기타 외국식
6        분식
7        주점
8        커피
9        한식
Name: 서비스업종, dtype: object

In [44]:
food_category_mapping = {
    '치킨': 1,
    '패스트푸드': 2,
    '중식': 3,
    '제과제빵': 4,
    '일식': 5,
    '기타 외국식': 6,
    '분식': 7,
    '주점': 8,
    '커피': 9,
    '한식': 10
}

In [45]:
# '서비스업종' 칼럼의 값을 매핑된 번호로 변경하는 함수
def map_to_number2(name):
    return food_category_mapping[name]

In [46]:
# '서비스업종' 칼럼에 apply 함수 적용하여 번호로 변경
df['업종_번호'] = df['서비스업종'].apply(map_to_number2)

In [47]:
df

,Unnamed: 0,Unnamed: 0.1,데이터기준년월,시군구명,서비스_업종_코드,서비스업종,매출등급,매출등급01,개업수,폐업수,...,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구_코드,점포당_매출_금액,업종별_건당_매출_금액,건당_매출_금액,구_번호,업종_번호
0,0,0,202203,강남구,CS100001,한식,3.607718,1,116,145,...,1320.0,763.0,502,5.0,11680,9.851762e+07,61612.020388,61612.020388,25,10
1,1,1,202203,강남구,CS100001,한식,3.607718,1,116,145,...,25579.0,19526.0,13097,90.0,11680,7.882209e+07,46680.804558,46680.804558,25,10
2,2,2,202203,강남구,CS100001,한식,3.607718,1,116,145,...,11369.0,8908.0,2904,33.0,11680,4.408173e+07,34870.609272,34870.609272,25,10
3,3,3,202203,강남구,CS100001,한식,3.607718,1,116,145,...,22180.0,13662.0,6316,91.0,11680,5.280214e+07,35647.210671,35647.210671,25,10
4,4,4,202203,강남구,CS100001,한식,3.607718,1,116,145,...,117282.0,100271.0,67313,252.0,11680,9.441766e+07,36225.028792,36225.028792,25,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35848,35848,35848,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,139.0,307.0,488,3.0,11260,6.372488e+06,9813.893737,9813.893737,4,9
35849,35849,35849,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,4976.0,4563.0,654,16.0,11260,9.036580e+06,5354.811970,5354.811970,4,9
35850,35850,35850,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,594.0,939.0,450,7.0,11260,1.938422e+06,5378.102259,5378.102259,4,9
35851,35851,35851,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,366.0,244.0,91,11.0,11260,3.272727e+06,12627.148369,12627.148369,4,9
35852,35852,35852,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,124.0,233.0,152,1.5,11260,7.786363e+06,13756.824499,13756.824499,4,9

# 매출별 상권구분 순서(인코딩)

In [48]:
c=df.groupby('상권_구분_코드_명')['분기당_매출_금액'].sum().sort_values(ascending=True).to_frame().reset_index()
c

  상권_구분_코드_명       분기당_매출_금액
0       관광특구   1509930976092
1       전통시장   2586896731295
2       골목상권   6023467348101
3       발달상권  16036418687533

In [49]:
c['상권_구분_코드_명']

0    관광특구
1    전통시장
2    골목상권
3    발달상권
Name: 상권_구분_코드_명, dtype: object

In [50]:
business_type_mapping = {
    '관광특구': 1,
    '전통시장': 2,
    '골목상권': 3,
    '발달상권': 4
}

In [51]:
# '상권구분' 칼럼의 값을 매핑된 번호로 변경하는 함수
def map_to_number3(name):
    return business_type_mapping[name]

In [52]:
# '상권구분' 칼럼에 apply 함수 적용하여 번호로 변경
df['상권구분_번호'] = df['상권_구분_코드_명'].apply(map_to_number3)

In [53]:
df

,Unnamed: 0,Unnamed: 0.1,데이터기준년월,시군구명,서비스_업종_코드,서비스업종,매출등급,매출등급01,개업수,폐업수,...,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구_코드,점포당_매출_금액,업종별_건당_매출_금액,건당_매출_금액,구_번호,업종_번호,상권구분_번호
0,0,0,202203,강남구,CS100001,한식,3.607718,1,116,145,...,763.0,502,5.0,11680,9.851762e+07,61612.020388,61612.020388,25,10,3
1,1,1,202203,강남구,CS100001,한식,3.607718,1,116,145,...,19526.0,13097,90.0,11680,7.882209e+07,46680.804558,46680.804558,25,10,4
2,2,2,202203,강남구,CS100001,한식,3.607718,1,116,145,...,8908.0,2904,33.0,11680,4.408173e+07,34870.609272,34870.609272,25,10,4
3,3,3,202203,강남구,CS100001,한식,3.607718,1,116,145,...,13662.0,6316,91.0,11680,5.280214e+07,35647.210671,35647.210671,25,10,4
4,4,4,202203,강남구,CS100001,한식,3.607718,1,116,145,...,100271.0,67313,252.0,11680,9.441766e+07,36225.028792,36225.028792,25,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35848,35848,35848,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,307.0,488,3.0,11260,6.372488e+06,9813.893737,9813.893737,4,9,3
35849,35849,35849,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,4563.0,654,16.0,11260,9.036580e+06,5354.811970,5354.811970,4,9,3
35850,35850,35850,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,939.0,450,7.0,11260,1.938422e+06,5378.102259,5378.102259,4,9,3
35851,35851,35851,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,244.0,91,11.0,11260,3.272727e+06,12627.148369,12627.148369,4,9,3
35852,35852,35852,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,233.0,152,1.5,11260,7.786363e+06,13756.824499,13756.824499,4,9,3

In [54]:
df[['데이터기준년월','구_번호','상권구분_번호','업종_번호','분기당_매출_금액','매출등급01','점포수','남성_매출_비율', '여성_매출_비율']]

,데이터기준년월,구_번호,상권구분_번호,업종_번호,분기당_매출_금액,매출등급01,점포수,남성_매출_비율,여성_매출_비율
0,202203,25,3,10,492588103,1,5.0,48,52
1,202203,25,4,10,7093988507,1,90.0,65,35
2,202203,25,4,10,1454697207,1,33.0,69,31
3,202203,25,4,10,4804994468,1,91.0,69,31
4,202203,25,4,10,23793250961,1,252.0,65,35
...,...,...,...,...,...,...,...,...,...
35848,202212,4,3,9,19117465,0,3.0,51,49
35849,202212,4,3,9,144585278,0,16.0,48,52
35850,202212,4,3,9,13568952,0,7.0,38,62
35851,202212,4,3,9,36000000,0,11.0,28,72
35852,202212,4,3,9,11679544,0,1.5,60,40

# 유동인구별 구 순서(인코딩)

In [55]:
pop_mapping = {
    '금천구': 1, '도봉구': 2, '성동구': 3, '노원구': 4, '용산구': 5, '종로구': 6,
    '양천구': 7, '구로구': 8, '동작구': 9, '서대문구': 10, '중구': 11, '강북구': 12,
    '성북구': 13, '영등포구': 14, '중랑구': 15, '동대문구': 16, '광진구': 17, '서초구': 18,
    '강서구': 19, '마포구': 20, '은평구': 21, '강동구': 22, '송파구': 23, '관악구': 24, '강남구': 25
}

In [56]:
def map_to_number4(name):
    return pop_mapping[name]

In [57]:
df['구번호_유동인구순'] = df['시군구명'].apply(map_to_number4)

In [58]:
df

,Unnamed: 0,Unnamed: 0.1,데이터기준년월,시군구명,서비스_업종_코드,서비스업종,매출등급,매출등급01,개업수,폐업수,...,연령대_60_이상_매출_건수,점포수,시군구_코드,점포당_매출_금액,업종별_건당_매출_금액,건당_매출_금액,구_번호,업종_번호,상권구분_번호,구번호_유동인구순
0,0,0,202203,강남구,CS100001,한식,3.607718,1,116,145,...,502,5.0,11680,9.851762e+07,61612.020388,61612.020388,25,10,3,25
1,1,1,202203,강남구,CS100001,한식,3.607718,1,116,145,...,13097,90.0,11680,7.882209e+07,46680.804558,46680.804558,25,10,4,25
2,2,2,202203,강남구,CS100001,한식,3.607718,1,116,145,...,2904,33.0,11680,4.408173e+07,34870.609272,34870.609272,25,10,4,25
3,3,3,202203,강남구,CS100001,한식,3.607718,1,116,145,...,6316,91.0,11680,5.280214e+07,35647.210671,35647.210671,25,10,4,25
4,4,4,202203,강남구,CS100001,한식,3.607718,1,116,145,...,67313,252.0,11680,9.441766e+07,36225.028792,36225.028792,25,10,4,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35848,35848,35848,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,488,3.0,11260,6.372488e+06,9813.893737,9813.893737,4,9,3,15
35849,35849,35849,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,654,16.0,11260,9.036580e+06,5354.811970,5354.811970,4,9,3,15
35850,35850,35850,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,450,7.0,11260,1.938422e+06,5378.102259,5378.102259,4,9,3,15
35851,35851,35851,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,91,11.0,11260,3.272727e+06,12627.148369,12627.148369,4,9,3,15
35852,35852,35852,202212,중랑구,CS100010,커피,2.590062,0,42,23,...,152,1.5,11260,7.786363e+06,13756.824499,13756.824499,4,9,3,15

In [59]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', '데이터기준년월', '시군구명', '서비스_업종_코드', '서비스업종',
       '매출등급', '매출등급01', '개업수', '폐업수',
       ...
       '연령대_60_이상_매출_건수', '점포수', '시군구_코드', '점포당_매출_금액', '업종별_건당_매출_금액',
       '건당_매출_금액', '구_번호', '업종_번호', '상권구분_번호', '구번호_유동인구순'],
      dtype='object', length=107)

# CSV 저장 - 머신러닝을 위한 전처리(인코딩)

In [60]:
df.to_csv(".전처리_인코딩.csv", encoding = "ansi")